body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    margin:0px;
    padding:0px;
    font-family: tahoma;
}

body.yoyo-full,
html.yoyo-full{
  height: 100%;
}
body.yoyo-page{
  background: url(../img/wallet.jpg) center no-repeat;
  background-size: cover;
  font-size: 22px;
}
.yoyo-content{
  padding-top: 40%;
}
.yoyo-form{
  margin: auto;
  width: 90%;
  background: #fff;
  box-shadow: 0 0 5px #000;
  border-radius: 10px;
  padding: 3% 3% 5%;
  text-align: center;
  color: #555;
}
.yoyo-form h2{
  margin: 0;
  padding: 5px 0 10px;
  color: #5694C7;
  font-size: 32px;
}
.yoyo-input{
  border: #aaa 1px solid;
  border-radius: 5px;
  font-size: 28px;
  color: #5694C7;
  width: 90%;
}
.yoyo-button{
  background: #5694C7;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}
.yoyo-input,
.yoyo-button{
  padding: 5px 8px;
  margin: 5px 0;
}
.yoyo-secret{
  display: none;
}
